@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.m{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}


.x{
 text-align: right;   
}

.g{
    width: 280px;
    height: 50px;   
   }

.admin{
    float:left;
    padding: 2%;
}
.z{
    text-align: left;
    padding:1%;}
.container{
    text-align: right;
    margin: 0; 
    padding: 0;

    
}
.button1 {	
	border-radius: 12px;
	width: 90px;
	font-size: large;
	margin: 0 auto;
	margin-top: 15px;
}
.button1:hover {
	background-color: purple;
	color: #ffffff;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
}
.material-icons {
    float: left;
}